
a {
    text-decoration: none; /* Esto elimina el subrayado de todos los enlaces */
    color: #000000;
}

a:hover{
    text-decoration: underline;
}

/*Sección index*/
/*menu*/

.menu__nav{
    background-color: #ebebeb;
}

.menu__list{
    display: flex;
    justify-content: space-around;


}

#menu__tittle{
    color: #55833d;
    font-size: 2em;
    display: flex;
    justify-content: center;

}

.menu__list__item{
    display: flex;
    margin: 2% 4% 2% 4% ;
    font-size: 1.3em;
}

/*Resto de la pagina*/
.mensaje{
    width: 100%;
    min-height: 100vh;
    background-color: #55833d;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.mensaje__inicio{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
    display: flex;
    justify-content: center;
    color: #ffffff;
}

.mensaje__inicio__2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 2%;
    font-size: 2em;
    display: flex;
    justify-content: center;
    color: #ffffff;
}

.boton__contacto{
    display: block;
    text-decoration: none;
    border-radius: 5px;
    width: 100px; 
    height: 20px;
    margin: 10px    auto;
    padding: 15px 30px;
    text-align: center;
    margin-top: 2%;
    background-color: #ffffff;
}

/*Sección sobreNosotros*/

.tudo{
    background-color: #55833d;
    min-height: 100vh;
    color: #ffffff;
}