
a {
    text-decoration: none; /* Esto elimina el subrayado de todos los enlaces */
    color: #000000;
}


a:hover{
    text-decoration: underline;
}


/*Boton de Regreso*/
.back__button{
    text-decoration: none;
    display: inline-block;
    font-size: 1.5em;
    margin: 0.5% 2% 1% 0.5%;
    border-radius: 0% 30% 50% 60%;
    background-color: #b2f7bb;
    color: #000000;
}

/*Sección index*/
/*menu*/

.menu__nav{
    background-color: #ebebeb;
}

.menu__list{
    display: flex;
    justify-content: space-around;
}

#menu__tittle{
    color: #55833d;
    font-size: 2em;
    display: flex;
    justify-content: center;

}

.menu__list__item{
    display: flex;
    margin: 2% 4% 2% 4% ;
    font-size: 1.3em;
}

/*Resto de la pagina*/
.mensaje{
    width: 100%;
    min-height: 100vh;
    background-color: #55833d;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.mensaje__inicio{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
    display: flex;
    justify-content: center;
    color: #ffffff;
}

.mensaje__inicio__2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 2%;
    font-size: 2em;
    display: flex;
    justify-content: center;
    color: #ffffff;
}

.boton__contacto{
    display: block;
    text-decoration: none;
    border-radius: 5px;
    width: 100px; 
    height: 20px;
    margin: 10px    auto;
    padding: 15px 30px;
    text-align: center;
    margin-top: 2%;
    background-color: #ffffff;
}

/*Sección menu*/

.menu__entradas, .menu__carnes, .menu__comida__mar, .menu__pasta{
    color: #000000;
    display: block;
    width: 100%;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1em;
}
.menu__box{
    width: 100%;
}

.nombre__comida{
    text-align: center;
}

.entradas, .carnes, .comida__mar, .pasta{
    display: flex;
    align-items: center;

}

.entradas img, .carnes img, .comida__mar img, .pasta img{
    width: 200px;
    height: auto;
    box-shadow: 5px 5px 5px #102817;
    display: flex;
    justify-content: center;

}

.entradas img :hover{
    box-shadow: 5px 5px 5px black;
}

.precio {
    color: #000000;
    font-weight: bold;
    text-align: center;
    align-items: center;
}

/*Sección sobreNosotros*/

.tudo{
    background-color: #55833d;
    min-height: 100vh;
    color: #ffffff;
}






